name: Build Test

on:
  pull_request:
    branches:
      - main
      - dev
    paths-ignore:
      - '**.md'
      - 'examples/**'
      - 'tests/**'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools==75.3.2 wheel build
          pip install torch --index-url https://download.pytorch.org/whl/cpu

      - name: Build sdist
        run: |
          python -m build --sdist --no-isolation
